h1{
  font-size: 55px;
  font-weight: 700;
}

.banner-btn:hover{
    background-color: #3300ff;
    color: white;
}

.banner-title {
    position: relative;
    padding-left: 40px;
}

.banner-title:before {
    content: "";
    display: block;
    width: 35px;
    height: 3px;
    background: #3300ff;
    left: 0;
    top: 50%;
    position: absolute;
}

